

@keyframes appear{
  from{
    opacity:0;
    transform: translateY(-10px);
  }
  to{
    opacity:1;
    transform: translateY(0px);
  }
}

/* ANIMAÇÃO fade + slide para cima */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes text-animation {
  0%   { transform: translateY(0); }
  20%  { transform: translateY(0); }

  25%  { transform: translateY(-100%); }
  40%  { transform: translateY(-100%); }

  45%  { transform: translateY(-200%); }
  60%  { transform: translateY(-200%); }

  65%  { transform: translateY(-300%); }
  80%  { transform: translateY(-300%); }

  85%  { transform: translateY(-400%); }
  100% { transform: translateY(-400%); }
}