.navbar-header {
  width: calc(100% - 4.0rem);
  position: fixed;
  text-align: center;
  top: 3.2rem;
  z-index:40;
  background-color: transparent;
  transition: background .35s ease;
  margin: 0 auto;
}

.navbar-header.hide {
  transform: translateY(-100%);
  transition: transform 0.35s ease, background-color 0.35s ease;
  top: 0;
}



.navbar-header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  padding: 2.4rem;
  height: 84px;
  border-radius: 9.6rem;
  background: var(--neutral-08);
  gap: 1.6rem;
}

.navbar-header.show {
    transform: translateY(0);
    transition: transform 0.35s ease;
}

.navbar-header.top {
    background-color: transparent;
    transform: translateY(0);
    transition: transform 0.35s ease;
}


#logo {
  display: block;
  transition: transform .2s cubic-bezier(.55, .085, .68, .53);
  width: 100%;
  padding-inline: 1.6rem;
}

#logo-web{
  min-width: 96px;
}

#logo-mobile{
  display: none;
}

#logo:hover{
  transform: scale(1.1);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.menu-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center ;
  padding:0.8rem 2.0rem;
  font-size: 2.0rem;
  gap: 0.8rem;

  font-weight: 500;
  color: var(--neutral-01);
  transition: all 0.3s ease;
  border-radius: 44px;
}

.menu-link.actived{
  font-weight: 700;
  transition: all .3s ease;
  background: var(--neutral-01);
  color: var(--neutral-08);
}

.menu-link:hover{
  color: var(--neutral-08);
  background-color: var(--neutral-01);
}

.menu svg{
  width: 20px;
  height: 20px;
}

.menu-link.actived svg path:nth-child(1){
  fill: var(--neutral-08);
}

.menu-link.actived svg path:nth-child(2){
  fill: var(--neutral-00);
}

.menu-link:hover svg path:nth-child(1){
  fill: var(--neutral-08);
}

.menu-link:hover svg path:nth-child(2){
  fill: var(--neutral-00);
}


@media (max-width: 960px){
  .navbar-header nav{
    padding: 1.6rem;
    height: 64px;
  }

  .menu li a span{
    display: none;
  }
}

@media (max-width: 480px){

  .navbar-header {
    top: 3.2rem;
    left: 2.0rem;
    z-index:40;
    margin: 0 auto;
  }

  .navbar-header.hide {
    transition: transform 0.35s ease, background-color 0.35s ease;
  }
    
  #logo-mobile{
    display: block;
    height: 3.2rem;
    max-width: 100%;
  }

  #logo-web{
    display: none;
  }
}


