.navbar-header {
  width: 100%;
  position: sticky;
  text-align: center;
  top: 0;
  z-index:40;
  background-color: transparent;
  transition: background .35s ease;
}

.navbar-header.hide {
  transform: translateY(-100%);
  transition: transform 0.35s ease, background-color 0.35s ease;
}

.navbar-header.hide nav{
  top: 0;
}

.navbar-header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  padding: 2.4rem;
  height: 96px;
  border-radius: 9.6rem;
  background: var(--neutral-08);
  gap: 1.6rem;
  top: 3.2rem;
}

.navbar-header.show {
    transform: translateY(0);
    transition: transform 0.35s ease;
}

.navbar-header.top {
    background-color: transparent;
    transform: translateY(0);
    transition: transform 0.35s ease;
}


#logo {
  display: block;
  transition: transform .2s cubic-bezier(.55, .085, .68, .53);
}

#logo svg path{
  transition: all .3s ease-in-out;
}

#logo:hover{
  transform: scale(1.1);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.menu a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center ;
  padding:0.8rem 2.0rem;
  font-size: 2.4rem;
  gap: 0.8rem;
  min-height: 44px;
  font-weight: 500;
  color: var(--neutral-01);
  transition: all 0.3s ease;
  border-radius: 44px;
}

.menu a.actived{
  font-weight: 700;
  transition: all .3s ease;
  background: var(--neutral-01);
  color: var(--neutral-08);
}

.menu a:hover{
  color: var(--neutral-08);
  background-color: var(--neutral-01);
}

.menu svg{
  width: 20px;
  height: 20px;
}

.menu a.actived svg path:nth-child(1){
  fill: var(--neutral-08);
}

.menu a.actived svg path:nth-child(2){
  fill: var(--neutral-00);
}

.menu a:hover svg path:nth-child(1){
  fill: var(--neutral-08);
}

.menu a:hover svg path:nth-child(2){
  fill: var(--neutral-00);
}



