
.hero{
  align-items: center;
  padding-top: 0;
}

.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1280px;
}

.hero-content h1{
  font-size: 17.6rem;
  line-height: 17.6rem;
  font-weight: 700;
  text-align: center;
}

.introduction {
  position: relative;
  text-align: center;
  max-width: 1280px;
}


/* Estilo para a caixa da tag (ex: UI Design) */
.floating-item {
  position: absolute;
  padding: 0.8rem 2.0rem;
  border: 2px solid #fff;
  border-radius: 4.8rem;
  white-space: nowrap; /* Impede a quebra de linha */
  z-index: 10; /* Garante que fique acima do texto */
  background-color: transparent; /* Ou a cor do seu fundo */
}

.floating-item .tag {
  font-size: 2.4rem;
  font-family: var(--outfit);
  color: #fff;
  font-weight: 300;
}

/* Estilo para os ícones coloridos flutuantes */
.icon-float {
  position: absolute;
  z-index: 5;
}

/* Posicionamento das Tags */
.floating-item.ui-design {
  /* Posição no lado esquerdo superior */
  top: 40%;
  left: 5%; 
}

.floating-item.ux-design {
  /* Posição no lado direito superior */
  top: 45%;
  right: 0; 
}

.floating-item.branding {
  /* Posição no lado esquerdo inferior */
  bottom: -15%;
  left: 2.5%; 
}

.floating-item.developing {
  /* Posição no lado direito inferior */
  bottom: -15%;
  right: 20%; 
}

/* Posicionamento dos Ícones Flutuantes (Círculos Coloridos) */
/* Exemplo com cores para referência */
.icon-float.icon-pink { 
  top: 0; 
  left: 15%; 
}

.icon-float.icon-blue{
  top: 50%;
  left: 20%; 
}

.icon-float.icon-red{
  top: 40%;
  right: 20%;
}

.icon-float.icon-yellow{
  bottom: -15%;
  left: 42%; 
}

.icon-float.icon-purple{
  bottom: -2.5%;
  right: 5%; 
}

.icon-float.icon-orange{
  top: -10%;
  right: 25%;
}
/* Repita para .icon-blue, .icon-red, .icon-yellow, .icon-purple ajustando top/left/right/bottom */

@media (max-width: 1400px) {
  .hero-content h1{
    font-size: 14.4rem;
    line-height: 14.4rem;
  }

  .floating-item.ui-design {
  /* Posição no lado esquerdo superior */
  top: 37%;
  left: 10%; 
  }

  .floating-item.ux-design {
    /* Posição no lado direito superior */
    top: 55%;
    right: 5%; 
  }

  .floating-item.branding {
    /* Posição no lado esquerdo inferior */
    bottom: -15%;
    left: 20%; 
  }

  .floating-item.developing {
    /* Posição no lado direito inferior */
    bottom: -15%;
    right: 20%; 
  }

  .icon-float.icon-pink { 
    top: 0; 
    left: 15%; 
  }

  .icon-float.icon-blue{
     top: 55%;
    left: 20%; 
  }

  .icon-float.icon-red{
    top: 35%;
    right: 20%;
  }

  .icon-float.icon-yellow{
    bottom: -15%;
    left: 42%; 
  }

  .icon-float.icon-purple{
    bottom: -2.5%;
    right: 0%; 
  }
}

@media (max-width: 1280px) {
  .hero-content h1{
    font-size: 11.2rem;
    line-height: 11.2rem;
  }

  .floating-item.ui-design {
  /* Posição no lado esquerdo superior */
  top: 45%;
  bottom: auto;
  left: 7%; 
  }

  .floating-item.ux-design {
    /* Posição no lado direito superior */
    top: 55%;
    right: -5%; 
    bottom: auto;
    left: auto;
  }

  .floating-item.branding {
    /* Posição no lado esquerdo inferior */
    bottom: -25%;
    left: 21%; 
  }

  .floating-item.developing {
    /* Posição no lado direito inferior */
    bottom: -33%;
    right: auto; 
    left: 55.8%;
  }

  .icon-float.icon-pink { 
    top: -10%; 
    left: 15%; 
  }

  .icon-float.icon-blue{
    top: auto;
    bottom: -25%;
    left: 5%; 
  }

  .icon-float.icon-red{
    top: 40%;
    right: 17%;
  }

  .icon-float.icon-yellow{
    bottom: -25%;
    left: 45%; 
  }

  .icon-float.icon-purple{
    bottom: -15.5%;
    right: 0%; 
  }

}

@media (max-width: 992px) {


  .floating-item.ux-design {
    /* Posição no lado direito superior */
    top: 55%;
    right: 0%; 
    bottom: auto;
    left: auto;
  }

  .floating-item.branding {
    /* Posição no lado esquerdo inferior */
    bottom: -25%;
    left: 21%; 
  }

  .floating-item.developing {
    /* Posição no lado direito inferior */
    bottom: -33%;
    right: auto; 
    left: 55.8%;
  }

  .icon-float.icon-pink { 
    top: -10%; 
    left: 15%; 
  }

  .icon-float.icon-blue{
    top: auto;
    bottom: -25%;
    left: 5%; 
  }

  .icon-float.icon-red{
    top: 38%;
    right: 20%;
  }

  .icon-float.icon-yellow{
    bottom: -35%;
    left: 45%; 
  }

  .icon-float.icon-purple{
    bottom: -15.5%;
    right: 0%; 
  }

}

@media (max-width: 960px) {
  .hero{
    align-items: center;
  }

 .hero-content{
    width: 100%;
    margin: 0 auto;
    gap: 3.2rem;
  }

  .hero-content h1{
    font-size: 8.0rem;
    line-height: 8.0rem;
  }

  .floating-elements{
    display: flex;
    max-width: 32.0rem;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
    margin: 0 auto;
  }

  .floating-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: static;
    width: 148px;
  }

  .floating-item.ux-design {
    /* Posição no lado direito superior */
    top: 45%;
    right: 6%; 
    bottom: auto;
    left: auto;
  }

  .floating-item.branding {
    /* Posição no lado esquerdo inferior */
    bottom: -25%;
    left: 21%; 
  }

  .floating-item.developing {
    /* Posição no lado direito inferior */
    bottom: -33%;
    right: auto; 
    left: 55.8%;
  }

  .icon-float{
    display: none;
  }

}


@media (max-width: 640px) {
    /* Opcional: Reduz o tamanho do título para caber na tela */
    .hero-content h1 {
        font-size: 6.4rem; /* Ajuste o tamanho da fonte para mobile */
        line-height: 6.4rem;
    }
}

@media (max-width: 480px) {
    /* Opcional: Reduz o tamanho do título para caber na tela */
    .hero-content h1 {
        font-size: 4.8rem; /* Ajuste o tamanho da fonte para mobile */
        line-height: 4.8rem;
    }
}

@media (max-width: 480px) {
    /* Opcional: Reduz o tamanho do título para caber na tela */
    .hero-content h1 {
        font-size: 4.0rem; /* Ajuste o tamanho da fonte para mobile */
        line-height: 4.8rem;
    }

    .floating-item .tag{
      font-size: 1.8rem;
    }
}


