.projects{
  flex-direction: column;
  gap: 5.6rem;
}

.projects-card-container{
  display: grid;
  width: 100%;
  gap: 3.2rem;
  grid-template-columns: repeat(3, 1fr);
}

.card-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
  border-radius: 2.4rem;
  overflow: hidden;
  padding-block: 4.8rem;
  transition: ease .3s;
  min-height: 700px;
  opacity: 1;
  pointer-events: auto;
    a{
      z-index: 2;
    }
  &:hover{
    transform: scale(1.08);
  }
}

.card-item.hidden {
  opacity: 0;
  min-height: 0;
  height: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transform: scale(.9);
  pointer-events: none;
}

.card-item-link{
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-item-description{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 1.6rem;
  max-width: 36.4rem;
  p{
    font-size: 2.4rem; 
  }
  span{
    font-size: 1.6rem;
  }
}

.card-btn{
  border: none;
}

/* VVeio */

.vveio-card{
    background-color: #F7F7F7;
  .card-description{
    color: #2E0188;
  }
  .card-title{
    color: #2E0188;
  }
  .card-tag{
    color: #2E0188;
  }
}

.vveio-card .card-btn{
  background-color: #2E0188;
}

/* Study Mate */

.studymate-card{
  background-color: #1E1F1E;
  .card-description{
    color: #45E6B3;
  }
  .card-title{
    color: #45E6B3;
  }
  .card-tag{
    color: #45E6B3;
  }
}

.studymate-card .card-btn{
  background-color: #45E6B3;
}

/* Consulta mais */

.consultaplus-card{
  background-color: #FFFFFF;
  .card-description{
    color: #6A69F3;
  }
  .card-title{
    color: #6A69F3;
  }
  .card-tag{
    color: #6A69F3;
  }
}

.consultaplus-card .card-btn{
  background-color: #6A69F3;
}


@media (max-width:1024px){
  .projects-card-container {
    grid-template-columns: 1fr;
  }

  .card-item{
    gap: 1.6rem;
    border-radius: 2.4rem;
    min-height: auto;
    margin: 0 auto;
  }

}


@media (max-width:640px){
  .card-item{
    gap: 2.4rem;
    border-radius: 2.4rem;
    padding-block: 2.4rem;
    min-height: auto;
  }
  .card-item-link{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .card-item-description{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-inline: 1.6rem;
    p{
      font-size: 2.4rem; 
    }
    span{
      font-size: 1.6rem;
    }
  }

  .card-btn{
    border: none;
  }
}



