.projects{
  flex-direction: column;
  min-height: auto !important;
  gap: 6.4rem;
  pointer-events: auto;
}

.projects-content{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.tab-nav-projects{
  display: flex;
  gap: 1.6rem;
}

.tab-nav-projects li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-nav-projects li a{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--zillab);
  padding: 0.8rem 1.6rem;
  height: 40px;
  font-size: 1.6rem;
  
  transition: ease .3s;
  
  border: 1px solid transparent;

  border-radius: 2.0rem;
  background-color: var(--neutral-07);

  &:hover{
    transform: scale(1.08);
  }
}

.tab-nav-projects li a.ui-design{
  background: var(--Neutral-02, #343438);
  box-shadow: -2px -2px 8px rgba(130, 27, 252, 0.4);

  background-image:
  linear-gradient(#343438, #343438),
  linear-gradient(135deg, #821BFC, transparent 60%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.tab-nav-projects li a.ux-design{
  background: var(--Neutral-02, #343438);
  box-shadow: -2px -2px 8px rgba(255, 0, 200, 0.3);

  background-image:
  linear-gradient(#343438, #343438),
  linear-gradient(135deg, #ff00c8, transparent 60%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.tab-nav-projects li a.branding{
  background: var(--Neutral-02, #343438);
  box-shadow: -2px -2px 8px rgba(0, 212, 232, 0.4);

  background-image:
  linear-gradient(#343438, #343438),
  linear-gradient(135deg, #00d5e8, transparent 60%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.tab-nav-projects li a.front-end{
  background: var(--Neutral-02, #343438);
  box-shadow: -2px -2px 8px rgba(206, 231, 39, 0.4);

  background-image:
  linear-gradient(#343438, #343438),
  linear-gradient(135deg, #cee727, transparent 60%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.projects-card-container{
  display: grid;
  width: 100%;
  gap: 3.2rem;
  grid-template-columns: repeat(3, 1fr);
}

.card-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
  border-radius: 2.4rem;
  overflow: hidden;
  padding-block: 4.8rem;
  transition: ease .3s;
  min-height: 700px;
  opacity: 0;
  transform: translateY(24px);
  transition: opacity .4s ease, transform .4s ease;
  pointer-events: auto;
    a{
      z-index: 2;
    }
  &:hover{
    transform: scale(1.08);
  }
}

.card-item.hidden {
  opacity: 0;
  min-height: 0;
  height: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transform: scale(.9);
  pointer-events: none;
  visibility: hidden;
}

.card-item.visible{
  opacity: 1;
  transform: translateY(0);
}

.card-item-link{
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-item-description{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 1.6rem;
  max-width: 36.4rem;
  p{
    font-size: 2.4rem; 
  }
  span{
    font-size: 1.6rem;
  }
}

.card-btn{
  border: none;
}

/* VVeio */

.vveio-card{
    background-color: #F7F7F7;
  .card-description{
    color: #2E0188;
  }
  .card-title{
    color: #2E0188;
  }
  .card-tag{
    color: #2E0188;
  }
}

.vveio-card .card-btn{
  background-color: #2E0188;
}

/* Study Mate */

.studymate-card{
  background-color: #1E1F1E;
  .card-description{
    color: #45E6B3;
  }
  .card-title{
    color: #45E6B3;
  }
  .card-tag{
    color: #45E6B3;
  }
}

.studymate-card .card-btn{
  background-color: #45E6B3;
}

/* Consulta mais */

.consultaplus-card{
  background-color: #FFFFFF;
  .card-description{
    color: #6A69F3;
  }
  .card-title{
    color: #6A69F3;
  }
  .card-tag{
    color: #6A69F3;
  }
}

.consultaplus-card .card-btn{
  background-color: #6A69F3;
}


@media (max-width:1024px){
  .projects-card-container {
    grid-template-columns: 1fr;
  }

  .card-item.hidden{
    display: none;
  }

  .card-item{
    display: flex;
    gap: 1.6rem;
    border-radius: 2.4rem;
    min-height: auto;
    margin: 0 auto;
  }

}


@media (max-width:640px){

  .projects-card-container{
    grid-template-rows: 1fr;
  }
 
  .projects{
    gap: 3.2rem;
  }

  .card-item{
    gap: 2.4rem;
    border-radius: 2.4rem;
    padding-block: 2.4rem;
    min-height: auto;
  }
  .card-item-link{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .card-item-description{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-inline: 1.6rem;
    p{
      font-size: 2.4rem; 
    }
    span{
      font-size: 1.6rem;
    }
  }

  .card-btn{
    border: none;
  }
}



